
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Loan FAQ</title>
  </head>
  <body>
    <header>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLfXrdo6zw1ZxVnCYHlMvu53bRW__xrLroMA&usqp=CAU">       
    </header>
    <h1>Frequently Asked Questions</h1>
    <div class="faq-container">
      <div class="faq">
        <h3 class="faq-title">How Will Bank Decide the Home Loan Amount I am Eligible for?</h3>
<br>
<br>
        <p class="faq-text">We will determine your Home Loan Eligibility largely by your income and repayment capacity. <br>
                Other important factors include your age, qualification, number of dependants,<br>
                your spouse's income (if any), assets & liabilities, savings history and the stability & continuity of occupation.</p>
           
     </div>
      <div class="faq">
        <h3 class="faq-title">What does an EMI mean?</h3>
        <br>
        <br>
        <p class="faq-text">EMI refers to the ‘Equated Monthly Installment’ 
            which is the amount you will pay to us on a specific date each month till the loan is repaid in full. The EMI comprises of the principal and interest components which are structured in a way that in the initial years of your loan, the interest component is much larger than the principal component, while towards the latter half of the loan, 
            the principal component is much larger </p>
      </div>
    
      <div class="faq">
        <h3 class="faq-title">When can I make a home loan application?</h3>
        <br>
        <br>
        <p class="faq-text">You can apply for a Home Loan at any time once you have decided to purchase or construct a property, even if you have not selected the property or the construction has not commenced.</p>

      </div>
    
      <div class="faq">
        <h3 class="faq-title">Do I get tax benefits on the loan?</h3>
        <br>
        <br>
        <p class="faq-text">Yes. You are eligible for tax benefits on the principal and interest components of your Home Loan under the Income Tax Act, 1961. As the benefits could vary each year, please do check with our Loan Counselor about the tax benefits which you could avail on your loan.</p>

      </div>
   
      <div class="faq">
        <h3 class="faq-title"> What Security will I have to provide?</h3>
        <br>
        <br>
        <p class="faq-text">Security of the loan would generally be security interest on the property being financed by us and / or any other collateral / interim security as may be required by us. It is extremely important for you to ensure that the title to the property is clear, marketable and free from encumbrance. There should not be any existing mortgage, loan or litigation, which is likely to adversely affect the title to the property  </p>

      </div>
     
      <div class="faq">
        <h3 class="faq-title">When do I start repaying the principal amount?</h3>
        <br>
        <br>
        <p class="faq-text">Repayment of the principal commences from the month following the month in which you avail full disbursement of your loan. Pending final disbursement, you pay interest on the portion of the loan disbursed. This interest is called pre-EMI interest. Pre-EMI interest is payable every month from the date of each disbursement up to the date of commencement of EMI.  In the case of under construction properties, HDFC also offers you a unique ‘Tranching’ facility wherein you can choose the installments you wish to pay till the time the property is ready for possession. Any amount over and above the interest which is paid by you goes towards principal repayment, thus helping you repay the loan faster. This is especially useful in case your disbursements are likely to be spread over a longer period of time</p>
      </div>
     
      <div class="faq">
        <h3 class="faq-title"> In how many Installments can you disburse the loan to me?</h3>
        <br>
        <br>
        <p class="faq-text">Once we receive your request for disbursement, we will disburse the loan in full or in installments, which usually do not exceed three in number. In case of an under construction property,
             we will disburse your loan in installments based on the progress of construction, as assessed by us and not necessarily 
             according to the developer’s agreement. You are advised in your own interest to enter into an agreement with the developer wherein the payments are linked to the construction work and not pre-defined on a time-based schedule</p>

      </div>
     
      <div class="faq">
        <h3 class="faq-title">When Do I Start Repaying The Principal Amount?</h3>
        <br>
        <br>
        <p class="faq-text">Repayment of the principal commences from the month following the month in which you avail full disbursement of your loan. Pending final disbursement, you pay interest on the portion of the loan disbursed. This interest is called pre-EMI interest. Pre-EMI interest is payable every month from the date of each disbursement up to the date of commencement of EMI.

            In the case of under construction properties, HDFC also offers you a unique ‘Tranching’ facility wherein you can choose the installments you wish to pay till the time the property is ready for possession. Any amount over and above the interest which is paid by you goes towards principal repayment, thus helping you repay the loan faster. This is especially useful in case your disbursements are likely to be spread over a longer period of time.</p>
      </div>
      </div> 
  </body>
</html>