
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Welcome To Home Loan Portal</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Saurabh Navale </h2>
        <p class="title">Team Leader</p>
        <p>saunavale1995@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ashutosh Barde</h2>
        <p class="title">Team Member</p>
        <p>ashutosh@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Siddhi Latke</h2>
        <p class="title">Team Member</p>
        <p>siddhilatke@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <div class="container">
      <h2>Adarsh Jaiswal</h2>
      <p class="title">Team Member</p>
      <p>adarshjaiswal@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>


</body>
</html>