
<nav>
 <div class="logo"> <h1 style="color: #ffff1a; font-size: x-large;"> HOME LOAN </h1> </div>
  <div class="menu">
     
  <a routerLink="profiledashboard"></a>  
    <a routerLink="document"></a>
    <a routerLink="application"></a>
    <a routerLink="adminlogin"></a>
    <a routerLink="admin"></a>
    <a routerLink="account"></a>
    <a routerLink="home">Home</a>
    <a routerLink="login">Login</a>
    <a routerLink="loanstatus">Loan Status</a>
    <a routerLink="customer">Register</a>
    <a routerLink="faq">FAQ</a>
    <a routerLink="aboutus">About US</a>
    <a routerLink="calculator">Calculator</a>
    
  
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
          <div class="row">
                  <div class="footer-col">
                          <h4>company</h4>
                          <ul>
                                  <li><a href="aboutus">about us</a></li>
                                  <li><a href="#">our services</a></li>
                          </ul>
                  </div>
                  
            
                  <div class="footer-col">
                          <h4>follow us</h4>
                          <div class="social-links">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          </div>
                  </div>
          </div>
  </div>
</footer>