.container{
    width: auto;
    height:700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #cccccc;
    text-align: center;
   


}

ul{
    font-weight: bold;
    text-align: center;
}

