<html>
<head>
    
    <title>Home Loan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
   <div class="bimage1">
           
        <div class="container1">
            <div class="container2">
                <div>
                   
                    <h4 style="color: black;font-size: 2vw;"></h4>
                    <h1 style="color:black;font-size: 2vw;">First Step</h1>
                    <h4 style="color:black;font-size: 2vw;">Towards Your Dream Home</h4>
                </div>
                <div class="btns">
                    <button type="button" (click)="Signup()" style="font-size: 2vw;">SignUp</button>
                    
                    <button type="button" (click)="Login()" style="font-size: 2vw;">Login</button>
                </div>
            </div>
            
            <div class="right_div">
                <div class="payment">
                    <br> <br> <br> <br> <br>
                    <h2 style="color: black; font-size: 2.8vw;">Know your eligibiltiy !</h2>
                    <br> 
                    <button type="button" (click)="Calulate()" style="font-size: 2vw;">Click me!</button>
                    
                </div>
                   
            </div>

        </div>
         <div class="choose_us">
            <div class="choose_text">
                <h1>Why people choose us</h1>
                <p class="lead"> WE OFFER A TOTALLY NEW WAY OF BORROWING</p>
            </div>
            <div class="combine3">
                <div class="divs">
                    <h2>Attractive Interest rates</h2>
                    <p></p> 
                </div>
                <div class="divs">
                    <h2>Loan up to
                        200000</h2>
                    <p></p>
                   
                </div>
                <div class="divs">
                    <h2>Lowest APR
                        available to you</h2>
                    <p></p>
                    
                </div>
            </div>
            </div>
         
         
        
            </div>

        
  
    

</body>

</html>